[ req ]
default_bits       = 2048
prompt             = no
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
C=US
ST=My-State
L=My-Town
O=My-Organization
CN={{ ansible_play_hosts_all[0] }}

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
{% for i in ansible_play_hosts_all %}
DNS.{{loop.index}} = {{ i }}
{% endfor %}
